html{
    font-family: Roboto;
}

body{
    top: 0px;
    left: 0px;
    width: 100vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 7vh;
    background: #EFEFEF;
    align-items: center;
}

.header > img{
    height: 60%;
    margin-left: 15px;
}

.content{
    padding: 2% 5%;
    width: 1fr;
}

.contentHeader{
    width: 1fr;
    border-bottom: 2px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding: 1em;
    margin-bottom: 25px;
}

.contentHeader > .text{
    display: flex;
    align-items: center;
}

.contentHeader > .text > .title{
    margin: 0 0.3em;
    text-align: left;
    font: normal normal normal 25px/28px Roboto;
    letter-spacing: 0px;
    color: #515151;
}

.contentHeader > .text > .i{
    border: 1px solid #CCCCCC;
    padding: 0.2em 0.65em;
    border-radius: 50%;
}

.formContainer{
    width: 1fr;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000067;
    border-radius: 4px;
    opacity: 1;    
    padding: 1em;
}

.formContainer > form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.formContainer > form > div{
    margin-bottom: 20px;
}

.formContainer > form > div > input{    
    height: 1.5em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    width: 90%;
    height: 25px;
}

.formContainer > form > div > select{
    height: 1.5em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    height: 30px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#nome-div{
    width: 650px;
    height: 30px;
}

#cpf-div{
    width: 300px;
}

#data-div{
    width: 200px;
}

#estado-div, #cidade-div{
    width: 200px;
}

#incluir{
    border: none;
    background: #5CAC21 0% 0% no-repeat padding-box;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    color: #fff;
    padding: 0 20px;
    height: 25px;
    margin: auto 0;
}

table{
    display: block;
    overflow-x: auto;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D0D0D0;
    border-collapse: collapse;
    font-weight: bold;
}

table tbody{
    display: table;
    width: 99.9%;
}

table tbody .thead{
    background: #E0E0E0 0% 0% no-repeat padding-box;
    padding: 5px;
    border: 1px solid #D0D0D0;
}

table tbody td{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 5px;
    border: 1px solid #D0D0D0;
}

.table-img{
    cursor: pointer;
    width: 14%;
    margin: 0 43%;
}